@page
@model AMTravel.Pages.DestinacijaDodajModel
@{
ViewData["Title"]="Nova destinacija";
}

<div class="text-center">
    <h2 class="display 4">Nova destinacija</h2>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" asp-page="./DestinacijaSve"><i class='fas fa-arrow-circle-left'></i> Prikaži listu destinacija</a></li>
  </ul>
</nav>

@if(SessionClass.TipKorisnika=="A"){
<form method="post">
  <input type="hidden" asp-for="@Model.PostojiVec" />

      @if (Model.PostojiVec != null && Model.PostojiVec != 0)
      {
        <div class="alert alert-danger" role="alert" style="text-align: center;"><i class="fas fa-exclamation-triangle"></i> Već postoji destinacija sa tim nazivom. <i class="fas fa-exclamation-triangle"></i></div>
      }

    <div class="login-container">
      <div class="login-form">
        <input type="text" class="login-input" placeholder="Naziv" asp-for="NovaDestinacija.Naziv"required autofocus/>
        <input type="text" class="login-input" placeholder="Drzava" asp-for="NovaDestinacija.Drzava"required />
        <input type="text" class="login-input" placeholder="Opis" asp-for="NovaDestinacija.Opis"required />
        <input type="file" asp-for="NovaDestinacija.Slika"  placeholder="Slika" required />
        <div class="submit-container">
          <input type="submit" value="Dodaj novu destnaciju" class="login-button"/>
        </div>
      </div>
    </div>
</form>
}
 else
{
  <div class="alert alert-danger" role="alert" style="text-align: center;"><i class="fas fa-exclamation-triangle"></i> Nemate pristup ovoj stranici, samo admin može da dodaje destinacije. <i class="fas fa-exclamation-triangle"></i></div> 
}