@page
@model AMTravel.Pages.ONamaModel
@{
    ViewData["Title"] = "O Nama";
}


<section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">O Nama</h2>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><h3>A</h3></div>
                        <div class="timeline-panel">
                            <div class="timeline-body"><p class="text-muted">Ponuda AMTravel je raznovrsna.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><h3>M</h3></div>
                        <div class="timeline-panel">
                            <div class="timeline-body"><p class="text-muted">Pružamo mogućnost da organizujete svoje letovanje iz fotelje.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><h3>T</h3></div>
                        <div class="timeline-panel">
                            <div class="timeline-body"><p class="text-muted">Ne morate da odlazite do agencije kako biste se informisali i rezervisali svoj aranžman, veĆ to možete uraditi preko naše aplikacije.</p></div>
                        </div>
                    </li>
                </ul>
            </div>
</section>

