@page
@model AMTravel.Pages.PrijavaModel
@{
}


<form method="post">
<div class="login-container">
  <div class="login-form">
      <input type="text" class="login-input" placeholder="KorisniÄko ime" asp-for="TrenutniKorisnik.Username" required autofocus/>
      <input type="password" class="login-input" placeholder="Lozinka" asp-for="TrenutniKorisnik.Password" required/>
  <div class="submit-container">
      <input type="submit" value="Prijavi se" class="login-button"/>
  </div>
  </div>
 </div>
</form>
@if (Model.Session == -1)
{
  <div class="prijava">
   <div class="alert alert-danger" role="alert" style="text-align: center;">
     <i class="fas fa-exclamation-triangle"></i> Uneli ste pogresno korisnicko ime ili lozinku. <i class="fas fa-exclamation-triangle"></i>
   </div>
 </div>
}

