@page
@model AMTravel.Pages.RegistracijaModel
@{
}

<form method="post">
<div class="login-container">
    <div class="login-form">
        <input type="text" class="login-input" placeholder="Ime" asp-for="NoviKorisnik.Ime" required autofocus/>
        <input type="text" class="login-input" placeholder="Prezime" asp-for="NoviKorisnik.Prezime" required />
        <input type="text" class="login-input" placeholder="Broj telefona" asp-for="NoviKorisnik.Broj" required />
        <input type="text" class="login-input" placeholder="Email" asp-for="NoviKorisnik.Email" required />
        <input type="text" class="login-input" placeholder="Korisničko ime" asp-for="NoviKorisnik.Username" required />
        <input type="password" class="login-input" placeholder="Lozinka" asp-for="NoviKorisnik.Password" required />
        <div class="submit-container">
            <input type="submit" value="Registruj se" class="login-button"/> 
       </div>
    </div>
    
</div>
</form>
@if (Model.PostojiVec)
{
    <div class="alert alert-danger" role="alert" style="text-align: center;"> <i class="fas fa-exclamation-triangle"></i> Korisnik sa tim korisničkim imenom već postoji. <i class="fas fa-exclamation-triangle"></i></div>
}

