@page
@model AMTravel.Pages.SmestajIzmeniModel
@{
}



<form method="post">
    <div class="login-container">
      <div class="login-form">
        <label class="form-control">Naziv: </label> <textarea asp-for="TrenutniSmestaj.Naziv"></textarea>
        <label class="form-control">Adresa:</label> <textarea asp-for="TrenutniSmestaj.Adresa"></textarea>
        <label class="form-control">Opis:</label> <textarea asp-for="TrenutniSmestaj.Opis"></textarea>
        <label class="form-control">Tip:</label> <textarea asp-for="TrenutniSmestaj.Tip"></textarea>
       <div class="submit-container">
          <input type="submit" value="Izmeni smeštaj" class="login-button"/>
        </div>
      </div>
    </div>
</form>