@page
@model AMTravel.Pages.SmestajDodajModel
@{
ViewData["Title"]="Novi smestaj";
}


@if(SessionClass.TipKorisnika=="A"){
<form method="post">
  <input type="hidden" asp-for="@Model.PostojiVec" />

      @if (Model.PostojiVec != null && Model.PostojiVec != 0)
      {
        <div class="alert alert-danger" role="alert" style="text-align: center;"><i class="fas fa-exclamation-triangle"></i> Već postoji smestaj sa tim imenom. <i class="fas fa-exclamation-triangle"></i></div>
      }

    <div class="dodaj">
        <div id="formContent">
        <label class="form-control">Naziv:</label> <input asp-for="NoviSmestaj.Naziv" class="form-control" placeholder="Naziv" required />
        <label class="form-control">Adresa:</label> <input asp-for="NoviSmestaj.Adresa" class="form-control" placeholder="Adresa" required />
        <label class="form-control">Opis:</label> <input asp-for="NoviSmestaj.Opis" class="form-control" placeholder="Opis" />
         <label class="form-control">Tip:</label> <input asp-for="NoviSmestaj.Tip" class="form-control" placeholder="Opis" />
        <label class="form-control">Dodajte sliku:</label> <input type="file" asp-for="NoviSmestaj.Slika"  placeholder="Slika" required />

        <button type="submit" class="dugme">Dodaj novi smestaj</button>
        </div>
    </div>
</form>
}
 else{
    <div class="alert alert-danger" role="alert" style="text-align: center;"><i class="fas fa-exclamation-triangle"></i> Nemate pristup ovoj stranici, samo admin može da dodaje znamenitosti. <i class="fas fa-exclamation-triangle"></i></div> 
    }