@page
@model AMTravel.Pages.SobaJednaModel
@{
}
<div class="containter">
 <form method="get">
            <div class="card">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">@Model.TrenutnaSoba.BrojSobe</h6>
                </div>
                    <div><h4>Cena:<label class="igraLabel">@Model.TrenutnaSoba.Cena</label></h4></div>
                   <div><h4>Kapacitet:<label class="igraLabel">@Model.TrenutnaSoba.BrojOsoba</label></h4></div>
                    <div><h4>Opis:<label class="igraLabel">@Model.TrenutnaSoba.Opis</label></h4></div>
                    <div style="position: center;">
                    <img src="images/@Model.TrenutnaSoba.Slika" alt="Avatar" style="width: 100%;"> 
                    </div>
            </div>
</form>
</div>